body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("./shattered-island.gif");
    background-size: auto;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
footer {
    position: absolute;
    bottom: 50px;
    color: darkorange;
    font-size: 15px;
    text-align: center;
}
h1{
color: darkorange;
font-size: 50px;
}
h2{
    color: red;
    font-size: 20px;
}
h3{
    color: red;
    font-size: 20px;
}
label{
    color: white;
}
input:checked + label{
    color: red;
}

p{
    color: white;
}
.weiter{
    position: relative;
    left: 80%;
    border-radius: 10px ;
    background-color: orange;
    width: 100px;
    height: 40px; 
    border: 5px solid red; 
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
}
.weiter:hover{
    opacity: 50%;      
    transition: all .2s ease-out;   
}

.fa-times,
.fa-circle { 
    font-size: 25px;
    size: 30px;
    width: 30px;
    height: 35px;
    margin: 7px;
    vertical-align: bottom;
}
.square{
   font-size: 25px;
    border: none;
    size: 30px;
    width: 30px;
    height: 35px;
    margin: 7px;
    cursor:pointer;
    vertical-align: bottom;
}

.square:hover{
    opacity: 50%;      
    transition: all .2s ease-out;
}

.Spielfeld {
    position: relative;
}
#Runde {
    font-weight: bolder ;
    color: coral;
}
