html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}
h1{
    color: black;
    font-size: 40px;
    position:absolute;
    left: 45%;
}
h2{
    color: darkgrey;
    font-size: 20px;
    position:absolute;
    left: 55%;
    top: 80px;
}
#container{
    position: absolute;
    left: 30%;
    top: 130px;
    /*padding: 5px;
    box-shadow: 5px 5px gray;*/
}
#Eingabe{
    position:relative;
    background-color: white;
    font-size: 20px;
    width: 400px;
    height: 50px;
    color:darkgrey;
    left: 10px;
}

#Haken{
    position: inherit;
    align-items: center;
    top: 50%;
}
#Muell{
    align-items: center;
    color: darkgrey;
}
#Muell.hover{
    color: black;
}
