body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
    height: 100%;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    position: relative;
    color: black;
}
h2{
    position: relative;
    color: darkgrey;
}
   
.ToDoListe {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  
    position: relative;
    background-color: white;
    font-size: 20px;
    width: 400px;
    height: 70px;
    color:black;
    padding: 5px;
    box-shadow: 5px 5px gray;  
}    
.Eingabe{
    position: relative;
    background-color: white;

    font-size: 20px;
    width: 400px;
    height: 50px;
    color:darkgrey;
}
.Haken{
    width: 20px;
    height: 20px;
}

.task{
    color: black;
}

.fa-trash-alt{
    color: darkgrey;
    opacity: 0%;
    transition: all 0.4s ease-out;
}
.fa-trash-alt:hover{
    cursor: pointer;
    color: black;
    opacity: 100%;
}

